/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.welcome, .discover, .cuisine, .hours, .customer{
  height:100vh;
}
.welcome>img{
  position:absolute;
  top:0px;
  left:10%;
}

.welcome nav{}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
  height: 400px;
}

.welcome img{
  height:25px;
}